

.home__screen {
    background: url('../../assets/images/home-background.jpg') no-repeat center center / cover;
    background-attachment: fixed;
    min-height: 100vh;
    color: white;
    padding: 2.5rem 0;
}

.team__container {
    padding: 1.5rem 2rem;
    margin-top: 2rem;
    border-radius: 3px;
}

.team__title {
    font-size: $fz-big;
    color: $light-color;
    text-align: center;
}

.stats__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.stats {
    background-color: rgba($color: $dark-color, $alpha: .8);
    padding: 2rem 1rem;
    color: $light-color;
    width: 100%;
}

.stat__name {
    color: red;
    font-weight: 600;
    margin-right: 1rem;
}

.stats h3 {
    margin-bottom: 1.5rem;
    font-size: $fz-large;
}

.stats p {
    text-transform: capitalize;
    font-size: $fz-regular;
}

.hero__card__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin: 2rem 0;
}

.hero__card {
    color: $dark-color;
    width: 100%;
}

.hero__card hr {
    background-color: white;
}

.hero__card .hero__img {
    opacity: .8;
    cursor: pointer;
    transition: opacity .35s ease;

    &:hover {
        opacity: 1;
    }
}

.hero__card .card-body {
    background-color: $dark-color;
    color: $light-color;
}

.hero__card .hero__name-btn__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__card .hero__name {
    font-family: 'Open Sans', sans-serif;
    font-size: $fz-extra-regular;
}

.hero__card .hero__btn__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.hero__card .icon {
    font-size: $fz-regular;
    cursor: pointer;
    transition: transform .3s ease;
    
    &:hover {
        transform: scale(1.1);
    }
}

.hero__card .hero__stats {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding-left: 0;
}

.hero__card .hero__stat {
    position: relative;
    display: flex;
    justify-content: space-around;
    font-size: $fz-regular;

    .svg {
        width: $fz-extra-regular;
    }
    
}

.stat__icon .svg::before {
    content: attr(data-stat);
    position: absolute;
    top: -100%;
    background-color: $light-color;
    color: $dark-color;
    text-transform: capitalize;
    border-radius: 3px;
    z-index: 1000;
    opacity: 0;
    transition: opacity .3s ease;
    width: 0;
    height: 0;
    font-size: 0;
}

.stat__icon .svg:is(:hover, :focus)::before {
    opacity: 1;
    width: auto;
    height: auto;
    font-size: $fz-regular;
    padding: .3rem 1rem;
}