
*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
hr {
    margin: 0;
    font-weight: 400;
}

img {
    max-width: 100%;
}

hr {
    background-color: white;
    margin-bottom: 1.2rem;
}

.input-container {
    position: relative;
}

.input-container svg {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    width: $fz-regular;
}

.input {
    width: 100%;
    border-radius: 3px;
    padding: .5rem 1rem;
    border: none;
}

.btn {
    font-weight: 600;
    border-radius: 3px;
}

.btn[disabled] {
    opacity: .6;
    pointer-events: none;
}

.error-container {
    margin: .5rem 0 0 0 ;
}

// Sobreescribimos bootstrap
.card-title {
    margin: 0;
}

.alert {
    padding: .4rem 1rem;
}
