
// Colors
$light-color: #f4f4f4;
$dark-color: #222222;
$main-color: #1c76b6;

// Fz
$fz-small: clamp(12px, 1.6vw, 14px);
$fz-regular: clamp(14px, 2.4vw, 20px);
$fz-extra-regular: clamp(17px, 2.8vw, 32px);
$fz-large: clamp(35px, 5vw, 45px);
$fz-big: clamp(35px, 7vw, 55px);